<div class="nav-container">
  <div class="nav-item-container">
    <perfect-scrollbar>
      <ng-container *ngFor="let nav of navList">
        <app-nav-collapse *ngIf="nav.type==='collapse'" [item]="nav"></app-nav-collapse>
        <app-nav-item *ngIf="nav.type==='item'" [item]="nav"></app-nav-item>
      </ng-container>
    </perfect-scrollbar>
  </div>

  <div class="nav-footer">
    <a matRipple href="https://github.com/ionictemplate-app/angular-admin" target="blank">
      <mat-icon>help</mat-icon>
      Help and support
    </a>
  </div>
</div>
